@use "../../scss/functions.scss";

.menu-container {
  font-size: functions.get-vw(16px);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 999;

  &.small {
    width: 64px;
    .menu-list {
      .menu-item {
        width: 40%;
        justify-content: center;
        .title {
          // display: none;
        }
      }
    }

    .logo {
      background-image: url("../../assets/images/mahua-menu.png");
      width: functions.get-vw(80px);
      height: functions.get-vw(80px);
    }
  }

  &.fullmenu {
    width: functions.get-vw(398px);
    background: linear-gradient(
      to right,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 1) 35%,
      rgba(21, 21, 21, 1) 50%,
      rgba(21, 21, 21, 0.8) 75%,
      rgba(21, 21, 21, 0.4) 90%,
      rgba(21, 21, 21, 0.1) 100%
    );

    .menu-list {
      .menu-item {
        justify-content: flex-start;
        margin-left: functions.get-vw(50px);
        .title {
          display: block;
        }
      }
    }

    .logo {
      background-image: url("../../assets/images/mahua-menu.png");
      width: functions.get-vw(80px);
      height: functions.get-vw(80px);
      // width: functions.get-vw(150px);
      // height: functions.get-vw(150px);
    }
  }

  .logo {
    position: relative;
    top: functions.get-vw(50px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: functions.get-vw(60px);
    width: functions.get-vw(60px);
  }

  .menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 720px;
    padding: 0;
    margin: 0;
    background: #151515;
    border-radius: 35px;
    position: absolute;
    margin: auto 4px;
    bottom: 0;
    left: 4px;

    // larege smalll css

    &.large {
      width: 285px;
      height: 720px;
      border-radius: 0px;
      margin: 0px;
      left: 0px;
      .menu-item {
        width: 100%;
        border-radius: 0px;
        margin: 0px;
        margin-top: 20px;
        margin-left: 30px;
        flex-direction: row;
        .LogoCover {
          flex: 0.6;
        }
        .title {
          flex: 1;
          text-align: start;
          font-family: Noto Sans;
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;
          letter-spacing: 0%;
          &.active {
            color: #179efb;
          }
        }
      }
      .BrandLogo {
        position: absolute;
        top: 68px;
        left: 56px;
      }
    }
    &.small {
      // background: red;
      border-radius: 0px;
      .menu-item {
        margin-top: 20px;
        .title {
          display: none;
        }
      }
      .BrandLogo {
        position: absolute;
        top: 30px;
        left: 35px;
      }
    }

    //////////////////

    .menu-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      font-size: functions.get-vw(16px);
      position: relative;

      .LogoCover {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        img {
          width: 32px;
          height: 32px;
        }
      }

      .title {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #bbbbbb;
        margin-top: 5px;
      }

      &.active:not(:focus) {
        // border-left: functions.get-vw(6px) solid #ff0000;
        .title {
          font-weight: 700;
          font-family: Poppins-Bold;
        }
      }
    }
  }
  .version {
    font-size: 30px;
  }
}
