@use "../../scss/functions.scss";
@use "../../scss/variables.scss";

.list-item {
  display: flex;
  img {
    border: 2.5px solid transparent;
  }

  &.focused {
    img {
      border: 2.5px solid #179efb;
    }
  }
  .leftTag {
    width: max-content;
    height: 21px;
    border-radius: 3px;
    top: 13px;
    left: 15px;
    display: flex;
    background: #179efb;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
  }
  &.slider {
    position: relative;
    display: flex;
    justify-content: end;
    .tracker {
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: 0px;
      left: 0;
      right: 0;

      .bit {
        width: 20px;
        height: 4px;
        background: white;
        margin-left: 4px;
        border-radius: 4px;
        &.active {
          background: #179efb;
        }
      }
    }
    .imgWrapper {
      width: 1145px;
      height: 375px;
      display: flex;
      justify-content: flex-end;
      img {
        border: none;
        mask-image: linear-gradient(to right, transparent, black);
        -webkit-mask-image: linear-gradient(to right, transparent, black);
      }
    }
    .InfoPart {
      position: absolute;
      width: 570px;
      left: 20px;
      bottom: 40px;

      .title {
        margin-top: 20px;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 43px;
        line-height: 100%;
      }
      .subtitle {
        margin-top: 20px;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 17px;
        line-height: 100%;
      }
      .description {
        margin-top: 20px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
  &.recent {
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    img {
      border-radius: 9px;
    }
   .leftTag{
    position: absolute;
   }
    .title {
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 500;
      line-height: 16px;
      text-align: start;

      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 10px 0px;
      margin-left: 8px;
    }
  }
  .watchedLine {
    background: #da513d;
    height: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}
