.series-details-page {
  position: relative;
  padding-top: 18px;
  font-size: 0.8333333333vw;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  width: 1280px;
  align-items: center;
  .series-details-container {
    display: flex;
    justify-content: space-between;
    height: 360px;
    width: 1200px;
    .imageCover {
      img {
        object-fit: contain;
      }
      .resumeTimeLine {
        background: #da513d;
        height: 5px;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
    }

    .Information {
      display: flex;
      width: 912px;
      height: max-content;
      max-height: 360px;
      .basicInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        .header {
          .title {
            font-family: Inter;
            font-size: 40px;
            font-weight: 700;
            line-height: 48.41px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            display: -webkit-box;
            -webkit-line-clamp: 2; /* Limit to 2 lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word; /* Ensures words break properly */
            max-width: 100%;
          }
          .subtitle {
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
        }

        .description {
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          word-break: break-word;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          overflow: hidden;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
        .buttonsContainer {
          display: flex;
          .watchNowBtn {
            width: 268px;
            height: 56px;
            border: none;
            background: #da513d;
            font-style: normal;
            // font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
            border-radius: 4px;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.focused {
              // font-weight: 600;
              font-size: 13px;
            }
          }
          .MoreBtn {
            width: 268px;
            height: 56px;
            border: none;
            background: #ffffff;
            font-style: normal;
            margin-left: 10px;
            // font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #da513d;
            border-radius: 4px;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.button-focused {
              // font-weight: 600;
              font-size: 13px;
              color: #151515;
            }
          }
          .LikeBtn {
            width: 54px;
            height: 54px;
            border: none;
            background: transparent;
            font-style: normal;
            // font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
            border-radius: 4px;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            border: 0.5px solid white;
            img {
              width: 16px;
              height: 16px;
            }
            &.button-focused {
              // font-weight: 600;
              img {
                width: 20px;
                height: 20px;
              }
              font-size: 13px;
            }
            &.Liked {
              background: #da513d;
            }
          }
        }
      }
      .imdbInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1;
        .imdbRating {
          font-family: Inter;
          font-size: 20px;
          font-weight: 700;
          line-height: 24.2px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          .imdblogo {
            background: #f6c700;
            color: black;
            padding: 3px 5px 3px 6px;
            font-family: sans-serif;
            border-radius: 4px;
          }
        }
        .translatedDescription {
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: right;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }
  }
  .series-grid {
    display: flex;
    flex-direction: column;
    // background: #151515;
    overflow: scroll;
    width: 1200px;
    .seasonListContainer .title {
      font-family: Inter;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 14px 0px;
    }
    .seasonsList {
      display: flex;
      overflow: scroll;
      .seasonBox {
        width: 236px;
        height: 40px;
        padding: 8px 104px 8px 104px;
        border-radius: 40px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        &.focused {
          color: #151515;
          background: white;
        }
        &.selected {
          color: white;
          background: #da513d;
          &.focused {
            color: #151515;
            background: white;
          }
        }
      }
    }
    .episodesList {
      display: flex;
      overflow: scroll;
      flex-wrap: wrap;
      justify-content: start;
      height: 184px;
      .episodeBox {
        width: 112px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-right: 5px;
        margin-bottom: 5px;
        position: relative;
        .resumeTimeLine {
          background: #da513d;
          height: 3px;
          position: absolute;
          bottom: 5px;
          left: 0px;
          right: 0px;
          margin: 0 15px;
          border-radius: 2px;
        }
        &.focused {
          color: #151515;
          background: white;
        }
      }
    }
  }
}
