.favorites-page {
  position: relative;
  padding: 0;
  font-size: 0.8333333333vw;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  width: 1165px;
  margin-top: 26px;
  overflow: scroll;

  .Title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 20px;
    text-align: center;
  }

  .favContainer {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    .FavCatList {
      display: flex;
      flex-wrap: wrap;
      width: 1020px;
      height: 600px;
      overflow: scroll;
      scroll-behavior: smooth;
      .list-item {
        margin: 10px 10px 0 0;
        &.recent{
          max-height: max-content;
        }
      }
    }
  }
}