@use "../../scss/functions.scss";
@use "../../scss/variables.scss";
.setting-container {
  position: relative;
  padding: 0;
  font-size: 0.8333333333vw;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  background-color: #151515;
  width: 1150px;

  display: flex;
  justify-content: center;
  align-items: center;
  .SelectedMenuViewer {
    display: flex;
    justify-content: center;
    align-items: center;
    .centerInfo {
      width: 783px;

      font-family: "Poppins";
      font-size: 22px;
      font-weight: 500;
      line-height: 20.73px;
      text-align: center;
      margin-bottom: 8px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-top: 55px;
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 5px 0;
      }
      .desc {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        text-align: start;
        height: 600px;

        border: none;
        overflow: visible;
        overflow-y: scroll;
        scroll-behavior: smooth;
        position: relative;
        .focusedText {
          padding: 15px;
          background: transparent;
          animation: focusedTextAnimation 2s infinite;
          @keyframes focusedTextAnimation {
            0% {
              box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.5);
            }
            50% {
              box-shadow: inset 0 0 10px 4px rgba(255, 255, 255, 0.7);
            }
            100% {
              box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }
    .Title {
      width: 100%;
      font-family: Inter;
      font-size: 32px;
      font-weight: 700;
      line-height: 38.73px;
      text-align: start;
      margin-bottom: 8px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
}
