@font-face {
    font-family: "Inter-Regular";
    src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../assets/fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: "Inter-Light";
    src: url("../assets/fonts/Inter-Light.ttf");
}

@font-face {
    font-family: "Inter-Medium";
    src: url("../assets/fonts/Inter-Medium.ttf");
}


@font-face {
    font-family: "Poppins-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../assets/fonts/Poppins-Light.ttf");
}


    
    