$light-color: #f0f0f0;
$white-color: #ffffff;
$white-color1: #f2f2f2;
$black-color: #000000;
$button-background: #ff87c3;
$button-background1: #971a64;
$button-background-focus: #ea528e;
$button-gray: #808080;
$button-light-gray: #d3d3d3;
$background-red: #ff0000;
